.formation {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 9rem;
}
.formation label {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
}

.topItems {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.field {
  background: url('../../public/icons/taticfieldlines.svg') no-repeat center,
    var(--background-field);
  height: 96%;
  margin-top: 1rem;
  width: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  top: 30;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img img {
  width: 100%;
}

.select {
  margin-left: 2rem;
  color: var(--text-list);
  font-weight: 700;
  font-size: 0.8rem;
  width: 9rem;
  display: inline-block;
}

@media screen and (max-width: 920px) {
  .select {
    margin-left: 1rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 580px) {
  .select {
    margin-left: 0.2rem;
    font-size: 0.6rem;
    width: 20rem;
  }
}
