.createContainer {
  background: var(--background-card);
  width: 76rem;
  height: 100%;
  margin: 2rem auto;
  border-radius: 1rem;
}
.createTopBar {
  margin-left: 2rem;
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 500;
  font-size: small;
  color: var(--text-my-teams);
}

.createTopBar h1 {
  margin-top: 1.5rem;
}
.createContainer hr {
  border: 0;
  border-top: 1px solid var(--separator-line);
  margin-top: 1.5rem;
  width: 100%;
}
.titleArea {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.5rem;
  color: var(--text-create-title);
  margin-top: 1.5rem;
}
.teamInformationContainer {
  display: flex;
  color: var(--text-list);
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.left {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 9rem;
}
.left label {
  margin-bottom: 1rem;
}
.left input {
  font-size: small;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  margin-bottom: 1rem;
  width: 125%;
  border-style: solid;
  border-color: var(--border-color-inputs);
  border-radius: 4px;
  border-width: thin;
}
.description {
  height: 12rem;
}
.right {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 12.5rem;
}
.right label {
  margin-bottom: 1rem;
}
.noTag {
  font-size: small;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
  margin-bottom: 1rem;
  width: 125%;
  border-style: solid;
  border-color: var(--border-color-inputs);
  border-radius: 4px;
  border-width: thin;
}

.configureSquadContainer {
  display: flex;
  color: var(--text-list);
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 2rem;
}
.formation {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 9rem;
}
.formation label {
  margin-bottom: 0.2rem;
  display: flex;
  align-items: center;
}

.formation select {
  margin-left: 2rem;
  color: var(--text-list);
  font-weight: 700;
  font-size: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.formation button {
  margin-top: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  background: var(--background-save-button);
  color: var(--background-card);
  font-family: Roboto;
  font-weight: 300;
  font-size: 0.7rem;
  border: none;
  border-radius: 4px;
  margin-bottom: 1rem;
  width: 125%;
}

.field {
  background: url('../../public/icons/taticfieldlines.svg') no-repeat center,
    var(--background-field);
  height: 38rem;
  margin-top: 1rem;
  width: 125%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  top: 30;
  right: 0;
}

.players {
  width: 20rem;
  display: flex;
  flex-direction: column;
  margin-left: 12.5rem;
}
.players li {
  list-style-type: none;
}
.players input {
  width: 125%;
}

.players label {
  margin-bottom: 0.5rem;
}
.inputFilter {
  font-size: small;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.2rem;
}
.players hr {
  margin-top: 1rem;
  width: 125%;
}

.teamType {
  width: 45%;
}
.teamTypeLabel {
  margin-top: 1.5rem;
}
.teamType section {
  display: flex;
  justify-content: space-between;
}

.teamTypeRadioButton {
  display: block;
  align-items: center;
  position: relative;
  padding-left: 1.3rem;
  margin-bottom: 1rem;
  cursor: pointer;
  font: Roboto;
  font-weight: 100;
  font-size: 0.7rem;
  margin-top: 0.01rem;
  overflow: hidden;
  color: var(--team-type-letter);
}

.teamTypeRadioButton p {
  margin-top: 0.17rem;
  margin-left: 0.4rem;
}

.teamTypeRadioButton input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkMark {
  position: absolute;
  top: 0;
  left: 0;
  height: 1.2rem;
  width: 1.2rem;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.teamTypeRadioButton:hover input ~ .checkMark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.teamTypeRadioButton input:checked ~ .checkMark {
  background: var(--team-type-button-selected);
}

/* Create the checkMark/indicator (hidden when not checked) */
.checkMark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkMark when checked */
.teamTypeRadioButton input:checked ~ .checkMark:after {
  display: block;
}

.tagInput {
  height: 6rem;
}

.tagInputLabel {
  margin-top: 0.5rem;
}
