.footer{
  width: 100%;
  height: 38px;
  background: var(--background-footer);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (max-width: 720px) {
  .footer{
    font-size: .68rem;
  }
}
 

@media screen and (max-width: 420px) {
  .footer{
    font-size: .55rem;
  }
 
}
 
