.react-tagsinput {
  background-color: var(--background-card);
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  height: 6rem;
  width: 125%;
  border-style: solid;
  border-color: var(--border-color-inputs);
  border-radius: 4px;
  border-width: thin;
  display: flex;
  outline: none;
}

.react-tagsinput:focus {
  background-color: blue;
}

.react-tagsinput-tag {
  background-color: var(--tag-background);
  border-radius: 16px;
  border: 1px solid var(--tag-background);
  color: var(--background-card);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
  padding: 4px 10px;
  display: inline-block;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-size: 16px;
  font-weight: 300;
}

.react-tagsinput-tag a::before {
  content: ' ×';
}

.react-tagsinput-input {
  background: transparent;
  border: 0;
  color: var(--text-list);
  font-family: Roboto;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-top: 1px;
  outline: none;
  padding: 5px;
  width: 80px;
}
