.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  border-radius: 34px;
  font-size: 1.2rem;
  font-family: Roboto;
  font-weight: 500;
  color: var(--title-avarege);
}

.gif {
  width: 240px;
  margin-top: 2rem;
}

@media screen and (max-width: 720px) {
  .error {
    margin-top: 20%;
  }

  .gif {
    width: 180px;
  }
}
