.container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  position: absolute;
  height: 90%;
  width: 97%;
}

.container hr {
  border: 0;
  border-top: 1px solid var(--separator-line);
  margin-top: 1rem;
  width: 100%;
}

.myTeamCard {
  background: var(--background-card);
  justify-content: center;
  width: 45%;
  height: 94%;
  border-radius: 9px;
  margin-left: 1rem;
  margin-top: 2rem;
}

.myTeamTopBar {
  margin-left: 2rem;
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  font-family: Roboto;
  font-weight: 500;
  font-size: small;
  color: var(--text-my-teams);
}

.myTeamCardButton {
  margin-right: 2rem;
  background: var(--background-button);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  font-family: Roboto;
  font-weight: 300;
  font-size: 1.8rem;
  color: var(--background-card);
  border: none;
}

.myTeamlist {
  font-family: Roboto;
  font-weight: 600;
  font-size: 0.85rem;
  margin-top: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 1.2rem;
}

.myTeamlist button {
  font-family: Roboto;
  font-weight: 600;
  font-size: small;
  color: var(--text-list);
  background-color: transparent;
  border: 2px solid transparent; /* Green */
  cursor: pointer;
}

.topContainer {
  margin-top: 1rem;
  width: 45%;
  justify-content: center;
  border-radius: 9px;
}

.average {
  background: var(--background-card);
  border-radius: 9px;
  height: 21rem;
  width: 104%;
  margin-right: 0.5rem;
}

.myTopBar {
  padding-top: 2rem;
  padding-left: 2rem;
  font-family: Roboto;
  font-weight: 500;
  font-size: small;
  color: var(--text-my-teams);
  margin-bottom: 1.5rem;
}

.myToplist {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: Roboto;
  font-weight: 600;
  font-size: small;
  color: var(--text-list);
}

.titleAvg {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-left: 4rem;
  margin-bottom: 1.5rem;
  font-size: 0.9rem;
  color: var(--title-avarege);
}

.low {
  margin-left: 27%;
}

.pick {
  background: url('../public/icons/mostpickedfieldline.svg') no-repeat center
      top,
    var(--backgrond-pick);
  border-radius: 9px;
  display: flex;
  height: 13rem;
  width: 105%;
  font-family: Roboto;
  font-weight: 500;
  font-size: 0.6rem;
  color: var(--background-card);
  justify-content: space-around;
  margin-top: 1rem;
  padding-top: 2rem;
}

.pickMost,
.pickLess {
  justify-content: center;
  align-items: center;
}

.pickMost h1,
.pickLess h1 {
  margin-left: 1rem;
}

.mostContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 1rem;
}

.lessContainer {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1.2rem;
}

.mostContainer img,
.lessContainer img {
  width: 80%;
}

.statistic {
  font-size: 1rem;
  margin-top: -8rem;
  margin-left: -1rem;
}

.statistic hr {
  margin-top: 0rem;
  width: 150%;
}

@media screen and (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }

  .myTeamCard {
    justify-content: center;
    width: 80%;
    height: 140%;
    border-radius: 9px;
    margin-left: 10%;
    margin-top: 50rem;
  }

  .topContainer {
    margin-top: 1rem;
    width: 77%;
    justify-content: center;
    border-radius: 9px;
    margin-left: 10%;
  }
}

@media screen and (max-width: 550px) {
  .low {
    margin-left: 20%;
  }
}

@media screen and (max-width: 430px) {
  .low {
    margin-left: 10%;
  }
}
